
/*=================================Global Properties =====================================*/
/* Ensure proper sizing */
*{
	box-sizing: border-box;
  }
  
  *, *:before, *:after {
	box-sizing: inherit;
  }
  
  * {
	  border:none;
  }
  
  html, body {
	  margin:0;	
	  font:14px Arial;
	  color:#4c4c4c;
	  line-height:20px;
	  padding-bottom:20px;
	  min-width:1024px;	
	  background-color: #f2f2f2;
  }
  /*=================================Global Structure=======================================*/
  .main {
	  margin:0 auto;
	  width:1024px;
	
  }
.container1{		
	 background:url(img/bg_top4.png) top repeat-x;		
}
/*=================================Navigation=================================================*/

.menu {
	float:left;
	margin-left: -40px;
}
.menu li {
	float:left;
	padding-right:17px;
	background:url(img/menu_line.jpg) right 0 no-repeat;
	margin-right:15px;
}
.menu li a {
	display:block;
	font-size:17px;
	color:#fff;
	line-height:36px;
	text-transform:uppercase;
	text-decoration:none;
	height:40px;
}
.menu li a:hover,
.menu .menu_active a {
	color:#44fbfe;
}

.icon {
	float:right;
	padding:6px 40px 0 0;
}
.icon li {
	float:left;
	padding-left:15px;
}

.menu .current{
	color:#ff4000;
	text-shadow: -0.3px 0.3px 0.3px #ff3c00;
}
.icon {
	float:right;
	padding:6px 40px 0 0;
}
.icon li {
	float:left;
	padding-left:15px;
}
/* Formating the current */
.menu .current{
	color:#ff4000;
	text-shadow: -0.3px 0.3px 0.3px #ff3c00;
}

.logo{
float: right;
margin-top: -320px;

}
.about .logo,
.adr .logo,
.faq .logo,
.complaint .logo{
	float: right;
	margin-top: -200px; 
	
}

/* removes the bulletpoints from the lists  */
ol, ul {
	list-style:none;
}
p {
	padding-bottom:10px;
	text-align: justify;

}
a{
    color:#3d84e6;
}
a:hover, a:focus{
    color:#3d84e6;
    text-decoration: underline;
}

h2{
	text-align: left;
}
/*=================================Header=================================================*/
header {
	width: 1024px;
	overflow:hidden;
	height: 300px;	
}

.about header,
.adr header,
.faq header,
.complaint header{
	width: 1024px;
	overflow:hidden;
	height: 150px;
}
.title{
		
	padding-top: 2px;
	padding-left: 5px;
	margin-bottom: 5px;
} 

.vertical {
	 		margin-right: 5px;
            border-left: 5px solid #ff4000;
            height: 60px;
			
        }
hr {
	width: 100%;
	height: 2px;
	margin-left: auto;
	margin-right: auto;
	background-color:#ff4000;
	border: 0 none;
}

/*=================================Main Layout============================================*/
h1{
	font-size:42px;
	color: #ffffff;
	font-family:Andale Mono;
	text-shadow: 1.3px 1.3px 1.3px #e6e6e6;
	margin: 0;
	padding: 5px 0 15px 0;	
}
/* Titles of the content section in all the pages */
h2 {
	font-size:35px;
	color:#f8f5f5;
	padding:21px 0 10px 0;
}

.about h2,
.adr h2,
.faq h2,
.complaint h2{
	font-size: 30px;
}

/* Footer titles - applies in all the pages */
h3 {
	font-size:20px;
	color:rgb(233, 230, 230);
	font-family: serif;
	font-style: italic;
	line-height:1.5em;
	padding-left: 7px;
	margin-top: 65px;
}

/* title - enrollment form - enroll_page */
h4 {
	font-size:20px;
	color:#262626;
	text-transform:uppercase;
	padding:21px 0 10px 0;
	line-height:1.2em;
	letter-spacing:-1px;
} 
/* subtitle in homepage / under content section */
h5 {
	font-size:18px;
	color:#000;
	line-height:1.2em;
	padding:14px 0 13px 3px;
}

.adr h5{
	font-size:18px;
	color: #353434;
	line-height:1 em;	
	font-family: Arial, Helvetica, sans-serif;
}
.error {
	color: #FF0000;
}
h6{
    background-color:yellow;
    font-size:16px;
    text-align:center;
}

/* adds arrows infront of hyperlinks located in the About page  */
.about_page aside ul li:before {
		content: "\00BB\0020";
}
/* removes the bulletpoints from the lists  */
ol, ul {
	list-style:none;
}
.welcome{

	font-size: 36px;
	font-family:Luminari;
	font-weight: bold;
	line-height: 1.6;
	text-align: center;
	margin-top: 25px;

}
p {
	padding-bottom:10px;
	font-family: 'Times New Roman', Times, serif;
	line-height: 1.6;


}
.adr .container2 p{

	padding-bottom: 2px;;
	margin-top: -20px;
}

a{
    color:#3d84e6;
}
a:hover, a:focus{
    color:#3d84e6;
    text-decoration: underline;
}
 
/*=================================Content================================================*/
.content {
	width:100%;
	overflow:hidden;
	padding-top:10px 0 30px 0;
}
article{
	float:left;	
}

figure{
	float:left;	
	padding: 2px;
}
figcaption {
	text-align: center;  
	display:block;
	font-size:23px;
	line-height:1.2em;
	color:#000;
	padding-top:7px;	
}
.complaint figcaption{

	text-align: center;  
	display:block;
	font-size:16px;
	line-height:1.2em;
	color:#000;
	padding-top:7px;
	letter-spacing:-1px;
}

.box {
	padding:0 34px;
	background-color:#fff;
	padding-bottom:45px;
	overflow:hidden;

}
.padd_left{
    padding-left:40px;
}

.padd_bottom {
	padding-bottom: 0;
}
.padd_top_2 {
	padding-top:7px
}

.margin_right {
	margin-right:21px;
}
.margin_left {
	margin-left:5px;
}
.marginleft_prog{
	margin-left: 5px;
}

/*Read more buttons */
.read_more{
	color: #fff;
	width: 65px;
	padding:10px;
	border-radius: 10px;
	font-size: 12px;
	font-style: bold;
	margin: 0;
	border: none;
	outline: none;
	cursor: pointer;
	float: right;
	background-color: #0066cc;
	-moz-box-shadow: inset 1px 1px 10px #333;
	box-shadow: inset 1px 1px 5px #ffffff;
}
.read_more:hover{
	background-color: #ff9900;
   -moz-box-shadow:  inset 1px 1px 10px #333;
   box-shadow: inset 1px 1px 10px #ffffff;
}

/*home page / programs page/ */
.list1 {
	margin-top:-12px;
	padding-left: 0;
	
}
.list1 li {
	line-height:28px;
	
}
/* Frequently used letters  */
.list1 li a {
	display:inline-block;
	background:url(img/word3.jpeg) 0 3px no-repeat;
	padding-left:48px;
	font-weight:bold;
	text-decoration:none;
}
/* Frequently used letters mouse over */
.list1 li a:hover {
	background:url(img/word3.jpeg) 0 2px no-repeat;
	color:#0055a2;
}
/* Frequently asked questions */
.list2 li a {
	display:inline-block;
	font-weight:bold;
	text-decoration:none;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
}
/* Frequently asked questions mouse over */

.list2 li a:hover {
	color:#0055a2;	
}

/*home page / programs page/ */
.list3 {
	margin-top:12px;
	padding-left: 0;
	
}
.list3 li {
	line-height:28px;
	
}
/* Frequently used letters  */
.list3 li a {
	display:inline-block;
	background:url(img/bullet3.png) 0 3px no-repeat;
	padding-left:48px;
	font-weight:bold;
	text-decoration:none;
}
/* Frequently used letters mouse over */
.list3 li a:hover {
	background:url(img/bullet3.png) 0 2px no-repeat;
	color:#0055a2;
}

/*Home page - news section*/
.date {
	float:left;
	width:72px;
	height:72px;
	background:url(img/light4.jpeg) 0 0 no-repeat;
	padding-left:10px;

}

/*=================================Footer=================================================*/

footer {
	font:12px Arial, Helvetica, sans-serif;
	width:100%;
	overflow:hidden;
	padding-bottom:42px;
	line-height:20px;
	margin-bottom:-15px;   
}

footer a {
	color:#0055a2;
}
.wrapper {	
	overflow:hidden;
}
.column1 {
	width:600px;
	margin-right:45px;
	float:left;
	padding-left: 5px;
}

.column2 {
	padding-top: 0;
	width:290px;
	float:left;
}
.column4 {
	padding-top: 0;
	margin-top: -107px;
	width:290px;
	float:left;
}
.column3 {
	padding-top: 0;
	width:290px;
	margin-left: -20px;
	float:left;
}

.column_address{
	width:85px;
	float:left
}
.column1_footer {
	width:240px;
	float:left;	
	line-height:30px;
	font-size:14px;
	padding-right:40px;
	padding-left:10px;
}
.column2_footer {
	width:195px;
	float:left;		
}
.column3_footer {
	width:195px;
	float:left;
	margin-right:20px;	
}
.column4_footer {
	width:263px;
	float:left;
	padding-left:10px;
	padding-top: 1px;
	
}
.list_footer {
	margin-left:-38px;
}
.list_footer li {
	font:14px Tahoma, Geneva, sans-serif;
	line-height:30px;
}
.list_footer li a {
	color:#4c4c4c;
	text-decoration:none;
	padding-left:18px;	
}
.list_footer li a:hover {
	color:#0055a2;
}
footer ul li:before {
		content: "\00BB";
}

/* Footer - newsletter  */

#newsletter_textbox{
	font:14px Tahoma, Geneva, sans-serif;
	background:#fff;
	color:#4c4c4c;
	width:250px;
	padding:3px 5px 5px 5px;
	line-height:18px;
	height:32px;	
}
#newsletter .background {
	background:#fff;
	border:1px solid #e4e4e4;
	float:left;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	position:relative;
}
#newsletter .button {
	float:right;
	color: #fff;
	width: 40%;
	padding:10px;
	border-radius: 10px;
	font-size: 15px;
	font-style: bold;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #1c8adb;
	-moz-box-shadow: inset 1px 1px 10px #333;
	box-shadow: inset 1px 1px 5px #ffffff;
	
}
#newsletter .button:hover {
  background-color: #ff9900;
   -moz-box-shadow:  inset 1px 1px 10px #333;
   box-shadow: inset 1px 1px 10px #ffffff;
}
.call {
	float:left;
	width:602px;
	padding:5px 0 5px 10;
	margin-right:100px;
}
.call1 {
	font-size:24px;
	color:#000;
	line-height:1.2em;
	display:inline-block;
	letter-spacing:-1px;	
}
.call2 {
	font-size:22px;
	color:#0055a2;
	line-height:1.2em;
	display:inline-block;
	letter-spacing:-1px;
}

/* complaint page ********************/
#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}

  iframe{
	  margin: 5px;
  }
  